#help {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
    padding: 60px;
    background-color: #fdf0e9;
    
    border-radius: 6px;
    .help_right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33%;
        height: 100%;
        
        position: relative;
        z-index: 1;
        

        top: -77px;
        > :first-child {
            position: absolute;
            width: 70%;
            left: 15%;
            z-index: -1;
            top: 25%;
        }
        > :nth-child(2) {
            width: 100%;
            position: relative;
            top: 90px;
            
            
        }
    }
    > p {
        width: 30%;
        @include p;
        font-size: 18px;

    }

    .help_left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        width: 35%;
        h5 {
            @include h5;
            font-size: 12px;
            font-weight: 300;
        }
        h3 {
            @include h3;
            font-size: 30px;
            width: 70%;
        }
        button {
            width: 45%;
            border: 1px solid rgba(255, 255, 255, 0.295743);
            border-radius: 6px;
            padding: 18px 20px;
            background: #EF6D58;
            font-family: "Epilogue";
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            text-transform: uppercase;

            color: #ffffff;
        }
    }
    #gift {
        position: absolute;
        width: 8%;
        height: 30%;
        left: 3%;
        top: -15%;
    }
}
@media screen and (max-width: 720px){
    #help{
        padding: 20px;
        flex-direction: column;
        .help_left{
            width: 100%;
            button{
                width: 20%;
            }
        }
        .help_right{
            width: 90%;

        }
        p{
            width: 80%;
        }

    }
}